:root {
  /* Colors --- */ 
  --bg-main: lightblue;
  --bg-dark: #0D1B45;
  --bg-second: #0043EF;
  --bg-second-light: #3266e7;
  --bg-third: #01B6AF;
  --color-primary-font: #fff;
  --color-second-font: #CAD8FF;
  --color-border: #7c7c7c60;

  /* Varied --- */ 
  --font-base: "Poppins";
  --font-size-subtitle: 1.2rem;
  --weight-subtitles: 400;
  --black: #000
}

/* Estilizar a barra de rolagem completa */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
  height: 5px; /* Altura da barra de rolagem (para rolagem horizontal) */
}

/* Estilizar o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da trilha */
  border-radius: 10px; /* Borda arredondada */
}

/* Estilizar o polegar (a parte que se move) */
::-webkit-scrollbar-thumb {
  background: #0080ff; /* Cor do polegar */
  border-radius: 10px; /* Borda arredondada */
  width: 3px;
  height: 3px;
}

/* Estilizar o polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #2891f9; /* Cor do polegar ao passar o mouse */
}




* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.bodyturin {
  background-color: var(--bg-main);
  color: var(--color-primary-font);
  width: 100%;
  overflow-x: hidden;
}



/* circles background start */

.backgroundCircles {
  display: flex;
  position: absolute;
  
  .bgCirclesOne {
    position: absolute;
    border-radius: 50%;
    padding: 600px;
    display: flex;
    left: 50vw;
    transform: translateX(-30vw) translateY(-15vh);
    background: 
    radial-gradient(circle, #0043EF70 0%, transparent 50%),
            linear-gradient(to right, #ff7f5f00, #feb47b00);
            z-index: -3;
  }
  
  .bgCirclesTwo {
    position: absolute;
    border-radius: 50%;
    padding: 800px;
    display: flex;
    left: 0px;
    transform: translateY(200px) translateX(-1000px);
    background: 
    radial-gradient(circle, #008fef50 0%, transparent 45%),
            linear-gradient(to right, #ff7f5f00, #feb47b00);
    z-index: -1;
  }
  
  .bgCirclesThree {
    position: absolute;
    border-radius: 50%;
    padding: 800px;
    display: flex;
    left: 0px;
    transform: translateY(0px) translateX(700px);
    overflow: hidden;
    max-width: calc(100% - 700px);
    background: 
    radial-gradient(circle, #008fef50 0%, transparent 45%),
    linear-gradient(to right, #ff7f5f00, #feb47b00);
    z-index: -1;
  }
  
  .bgCirclesFour {
    position: absolute;
    border-radius: 50%;
    padding: 800px;
    display: flex;
    left: 0px;
    transform: translateY(900px) translateX(700px);
    overflow: hidden;
    max-width: calc(100% - 700px);
    background: 
    radial-gradient(circle, #008fef50 0%, transparent 45%),
    linear-gradient(to right, #ff7f5f00, #feb47b00);
    z-index: -1;
  }
  
  .bgCirclesFive {
    position: absolute;
    border-radius: 50%;
    padding: 800px;
    display: flex;
    left: 0px;
    transform: translateY(1400px) translateX(-1000px);
    background: 
    radial-gradient(circle, #008fef50 0%, transparent 45%),
    linear-gradient(to right, #ff7f5f00, #feb47b00);
    z-index: -1;
  }
  
  .bgCirclesSix {
    position: absolute;
    border-radius: 50%;
    padding: 700px;
    display: flex;
    left: 0px;
    transform: translateY(1800px) translateX(700px);
    overflow: hidden;
    max-width: calc(100% - 700px);
    max-height: calc(100% - 100px);
    background: 
    radial-gradient(circle, #008fef50 0%, transparent 45%),
    linear-gradient(to right, #ff7f5f00, #feb47b00);
    z-index: -1;
  }
}

/* circles background end */

/* Nav Bar START --- */ 
.navIndex {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;

  .contentNavIndex {
    display: flex;
    height: 27vh;
    width: 90%;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
  
  .ulNavIndexOne li img {
    max-width: 100px;
  }
  
  .ulNavIndexOne,
  .ulNavIndexTwo,
  .ulNavIndexThree {
    display: flex;
    list-style: none;
  }
  
  .ulNavIndexTwo li {
    padding: 0px 20px;
  }
  
  .ulNavIndexTwo li a {
    text-decoration: none;
    color: var(--black);
    font-weight: var(--weight-subtitles);
    font-size: var(--font-size-subtitle);
    transition: .2s all;
  }

  .ulNavIndexTwo li a:hover {
    color: black;
    font-weight: 500;
    transform: scale(1.10);
  }

  
  .ulNavIndexThree li a {
    color: var(--color-primary-font);
    background-color: var(--bg-second);
    font-size: var(--font-size-subtitle);
    padding: 7px 25px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.1s ease-in;
    
  }
  
  .ulNavIndexThree li a:hover {
    transition: 0.1s ease-in;
    transform: scale(1.05);
    background-color: var(--bg-second-light);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
}

/* Nav Bar END --- */ 



/*  */






/* topo side start */

.apresentacao {
  

 


.fieldContentOne {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 20vw;
}


.logoMain img{
    position: relative;

    width: 300px;
    max-width: 1100px;
    animation: flutuar 2s ease-in-out infinite alternate;
}
.fieldContentTwo {
  display: flex;
  text-align: center;
  width: 50vw;
  flex-direction: column;
  align-items: center;


    a {
        
  
      text-decoration: none;
      color: var(--color-primary-font);
      cursor: pointer;
      background-color: #001838;
      margin: 15px ;
      border-radius: 10px;
      align-items: center;
      display: flex;
      justify-content: center;
      height: 40px;
      width: 15vw;
      transition: .5s all;
    }

    a:hover {
      background-color: #001838ae;
      transform: scale(1.05);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

     h1 {
        font-size: 4rem;
        margin-bottom: 20px;
        background: linear-gradient(to left, #000000, #001838, #090144);
        
        background-clip: text;
        -webkit-text-fill-color: transparent;
    
        font-weight: 900;
        text-transform: uppercase;
    }
    
     p {
      text-align: justify;
      font-weight: 400;
      font-size: 1.3rem;
      color: var(--black);
      margin-bottom: 20px;
    }
}

}

.quemsomos {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  
   h1 {
      font-size: 4rem;
      margin-bottom: 20px;
      background: linear-gradient(to left, #000000, #001838, #090144);
      
      background-clip: text;
      -webkit-text-fill-color: transparent;
  
      font-weight: 900;
      text-transform: uppercase;
  }
  
   p {
    text-align: justify;
    width: 70vw;
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--black);
    margin-bottom: 20px;
  }
}



/* fieldContentTwo START -----------  */

/* fieldContentTwo END -----------  */

/* fieldContentThree START -----------  */

.fieldContentThree {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* topo site end */

/* sobre start */


/* cards */

.trabalhamoscom {
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  
.title {

  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    background: linear-gradient(to left, #000000, #001838, #090144);
    
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-weight: 900;
    text-transform: uppercase;
  }
  
}
  
}


.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px ;
  margin-bottom: 80px;
  /* background-color: aqua; */
  width: 100%;

  .card {
    color: #000000;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: rgba(255, 255, 255, 0.285);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.518);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     max-height: 720px;
     max-width: 380px;
    

      img {
        
          max-width: 300px;
          border-radius: 10px;
          max-height:200px;
      }
      
      p {
          font-size: 1.1rem;
          font-weight: 500;
          margin-top: 10px;
          max-width: 350px;
      }

      a {
        background-color: #0043EF;
        text-decoration: none;
        
        margin:30px 0;
        padding: 10px;
      }
      
      
      .info {
        display: flex;
        flex-direction: column;
        
        a{
          border-radius: 5px;
          color: white;
          transition: all .1s ease-in-out;
        }
      }
      
              a:hover {
                background-color: #3266e7;
                transform: scale(1.05);
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
              }
      



  }
}



/* cards end */
  

/* carrossel start */

#carrossel {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding: 0 !important;
  overflow: hidden;
  
  
  h1 {
    margin-top: 50px ;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    color: #000000;
  }
  .slide-content{
    width: 400%;
    height: auto;
    display: flex;
    
      
    
    input, .img-mobile {
      display: none;
    }

    .slide-box{
      width: 25%;
      height: auto;
      position: relative;
      text-align: center;
      transition: 1s;
      margin-bottom: 30px;
      
      img {
        border-radius: 30px;
        width: 70%;
      }

     
    }

    
}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 40%;
  display: flex;
  justify-content: center;
  
  .manual-btn, div {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  
    transition: 0.2s background-color;
  
  }
  
  }
  
  .nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
  margin-right: 10px ;
  }
  
  .nav-manual .manual-btn:hover {
  background-color: #ffffff;
  
  }
  
  
  #carrossel .slide-content .nav-auto div {
  width: 20px;
  }
  
  
  #radio1:checked ~ .nav-auto .auto-btn1 {
  background-color: #ffffff;
   
  
  }
  
  #radio2:checked ~ .nav-auto .auto-btn2 {
  background-color: #ffffff;
   
  
  }
  
  #radio3:checked ~ .nav-auto .auto-btn3 {
  background-color: #ffffff;
   
  
  }
  
  #radio1:checked ~ .primeiro {
  margin-left: 0%;
  }
  #radio2:checked ~ .primeiro {
  margin-left: -25%;
  }
  #radio3:checked ~ .primeiro {
  margin-left: -50%;
  }



}




/* carrossel end */




/* formulário Cotação */

.contato {
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
 
  flex-direction: column;
  
  h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    background: linear-gradient(to left, #000000, #001838, #090144);
    
    background-clip: text;
    -webkit-text-fill-color: transparent;
  
    font-weight: 900;
    text-transform: uppercase;
  }
  
  p {
    text-align: justify;
    width: 70vw;
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--black);
    margin-bottom: 40px;
  }
  
  form {
    background-color: white;
    border-radius: 15px;
    padding: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-height: 800px;
    max-width:900px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
    label {
      color: #000000;
    }
    
    .form {
      display: flex;
      gap: 90px;

    
      .dados {
        display: flex;
        flex-direction: column;
        input {
         
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #000000;
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
       -webkit-appearance: none;
      }

      }

      .opcoes {
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 200px;
        justify-content: center;
        align-items: center;
        
        input {
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #000000;
        }

        

      }

    }
    
    
     
    input[type="submit"] {
     
      border: none;
      min-width: 60px;
      max-width:  100px;
      background-color: var(--bg-second);
      color: var(--color-primary-font);
      font-weight: 500;
      cursor: pointer;
      transition: 0.2s;
      border-radius: 3px;
    }
    
    input[type="submit"]:hover {
      background-color: var(--bg-second-light);
    }
  }


  }


/* formulário Cotação End */

  



/* whatsapp */



/* Estilo geral do botão */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 10011;
}

/* Estilo da imagem do botão */
.whatsapp-button img {
  width: 70px;
  height: 70px;
}

/* Estilo do tooltip */
.whatsapp-tooltip {
  visibility: hidden;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border-radius: 5px 5px 0px 5px;
  padding: 5px;
  position: absolute;
  bottom: 55px; /* Ajuste conforme necessário */
  right: -60px; /* Ajuste conforme necessário */
  width: 200px;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -9;
}

/* Exibir o tooltip ao passar o mouse */
.whatsapp-button:hover .whatsapp-tooltip {
  visibility: visible;
  opacity: 1;
}

/* Animação ao passar o mouse sobre o botão */
.whatsapp-button:hover {
  transform: scale(1.1);
}



/* whatsapp end */

/* footer start */

.footer {
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  
  .subFooter {
    width: 90%;
    justify-content: center;
    display: flex;
    border-top: 1px solid #00000083;
    padding: 50px 0px 50px 0px;
    flex-direction: column;
    line-height: 80px;
  }
  
  .textFooter {
    margin: 0 auto;
  }
  
  .ulFooterText {
    list-style: none;
    display: flex;
    margin: 0 auto;
  }
  
  .ulFooterText li {
    margin: 0 30px;
  }
  
  .ulFooterText li a { 
    text-decoration: none;
    color: var(--color-second-font);
    font-weight: 300;
    font-size: 1.1rem;
  }
  
  .ulFooterIcons {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;
    display: flex;
   
  }
  
  .ulFooterIcons li {
    margin: 0 25px;
  }
  
  .ulFooterIcons li a {
    padding: 10px 15px;
    border-radius: 50px;
    color: var(--color-second-font);
    background-color: var(--bg-dark);
  }
  
  .ulFooterIcons li a { 
    font-size: 2rem;
  }
  .textDescriptionFooter {
    margin: 0 auto;
  }
}


/* footer end */











/* keyframes */

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}